.full-currency-converter-box {
  padding: 80px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  margin-bottom: 30px;
}

.currency-converter-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

select {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-radius: 6px;
  box-shadow: rgba(0, 17, 51, 0.05) 0px 3px 15px;
  padding: 12px;
  color: rgb(20, 30, 55);
  background: none;
}

#cc-reverse {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: -10px;
  background-color: transparent;
  color: #061eff;
  font-size: 21px;
  border-radius: 70px;
}

.exchnage-button button {
  background-color: white;
  color: rgb(0, 108, 224);
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid rgb(0, 108, 224);
  transition: all 0.2s ease-in-out 0s;
  margin-top: 20px;
}
.rate-showing {
  margin: 10px 0;
  padding: 15px;
  font-size: 18px;
  margin-top: 20px;
}
