:root {
  --main-color: #41305e;
  --hover-color: #5733ff;
  --background-color: #fff;
  --border-color: #ccc;
  --text-color: #333;
  --highlight-color: #007bff;
  --ast-border-color: #ccc; /* Assuming same as border-color */
  --ast-comment-inputs-background: #fff; /* Assuming same as background-color */
}

.full-currency-converter-box {
  padding: 60px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  margin-bottom: 30px;
}

.currency-converter-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

select,
#cc-amount {
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(196, 189, 189);
  border-radius: 6px;
  box-shadow: rgba(0, 17, 51, 0.05) 0px 3px 15px;
  padding: 12px;
  color: rgb(20, 30, 55);
  background: none;
  height: 55px;
  font-size: 20px;
}
#cc-reverse {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: -10px;
  background-color: transparent;
  color: #061eff;
  font-size: 21px;
  border-radius: 70px;
  font-weight: 900;
}

label {
  font-weight: bold;
  font-size: 17px;
}

.rate-print-button button {
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.rate-print-button button:hover {
  background-color: black;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.rate-showing {
  margin-top: 20px;
  font-weight: 500;
}

#cc-result {
  border-bottom: 1px solid;
}
@media only screen and (max-width: 600px) {
  .currency-converter-box {
    display: inline-block;
    align-items: center;
  }
}
