.cc-container {
  margin: 20px;
}
.rate-showing {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 20px;
  background-color: #6d5a92;
  color: white;
}

.cc-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main-div {
  margin-bottom: 20px;
}
.sub-amount-box,
.cc-column {
  margin-bottom: 15px;
}
.sub-amount-box label,
.cc-column label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.sub-amount-box input,
.cc-column select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.cc-column {
  position: relative;
}
.cc-column i {
  position: absolute;
  left: 10px;
  top: 35px;
  font-size: 16px;
}
.cc-column select {
  padding-left: 30px;
}
#cc-convert {
  background-color: #6b4eff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
#cc-convert:hover {
  background-color: #5733ff;
}
.cc-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* text-align: center; */
}
@media print {
  body * {
    visibility: hidden;
  }
  .cc-container,
  .cc-container * {
    visibility: visible;
  }
  .cc-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  #cc-print {
    display: none;
  }
}

/* Loader */

.cc-loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cc-table-container {
  display: none;
}
